<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_4.xsd">
    <resource-ref>
        <description>MySQL Datasource</description>
        <res-ref-name>jdbc/pyramid</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ControlFilter</filter-name>
        <filter-class>com.gaiproject.filters.ControlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ControlFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UserDataTable</servlet-name>
        <servlet-class>com.gaiproject.servlets.UserDataTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleDataTable</servlet-name>
        <servlet-class>com.gaiproject.servlets.RoleDataTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Password</servlet-name>
        <servlet-class>com.gaiproject.servlets.PasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDataTable</servlet-name>
        <url-pattern>/user_table_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleDataTable</servlet-name>
        <url-pattern>/role_table_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Password</servlet-name>
        <url-pattern>/password</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>401</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>402</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>/app/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
